::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
}

::-webkit-scrollbar-track {
    background-color: #1c3d59;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--accent-color) #1c3d59;
    }
}