@import "./custom-scrollbar.css";

* {
    font-family: Roboto, sans-serif;
}

:root {
    --bg-color: #182443;
    --bg-dark-color: #19223D;
    --text-heading-color: #eeffff;
    --accent-color: #F84A67;
    --card-color: #1c3d59;
}

body {
    margin: 0;
}

header {
    background: var(--bg-color);
    height: 80px;
    align-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.button {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;

    padding: 15px 40px;
    border-radius: 50px;

    transition: transform 0.2s, filter 0.2s;
}

.button:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.category-item {
    display: inline-block;

    padding: 30px;
    border-radius: 10px;
    background-color: var(--bg-dark-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 2px var(--accent-color) solid;
}

.category-item:hover {
    transform: translateY(-5px);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;

    color: #ffffff;
}

.nav-links a {
    padding: 10px 15px;
    border-radius: 5px;

    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #2946a3;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 32px;

    align-content: center;
}

.logo span {
    color: var(--accent-color);
}

#hero {
    background-color: var(--bg-dark-color);
    text-align: center;
    padding: 100px 25px;

    border-bottom: 4px solid var(--accent-color);
}

#hero h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    color: var(--text-heading-color);
}

#hero p {
    font-size: 1.2rem;
    color: #bbb;
}

#categories {
    background-color: var(--bg-color);
    padding: 100px 25px;
    text-align: center;
    color: white;
}

#featured {
    background-color: var(--bg-dark-color);
    justify-items: center;
    color: white;
}

#featured .heading {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#featured img {
    height: 48px;
}

#featured h2 {
    font-size: 2.5rem;
}

#featured .category-item {
    text-align: center;
}

#featured .category-item .item-description {

}

#featured .category-item .item-price {
    font-weight: bold;
    font-size: 2em;
}

footer {
    padding: 50px 25px;
    text-align: center;
    background-color: var(--bg-dark-color);
}

footer p {
    color: #555555;
}