@import "../custom-scrollbar.css";

* {
    font-family: Roboto, sans-serif;
}

:root {
    --bg-color: #182443;
    --bg-dark-color: #19223D;
    --text-heading-color: #eeffff;
    --accent-color: #F84A67;
    --card-color: #062e4e;
    --cart-color: #474edc;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-dark-color);
}

header {
    background: var(--bg-color);
    height: 80px;
    align-content: center;

    position: sticky;
    top: 0;

    z-index: 100;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.radio-input {
    appearance: none;
    position: absolute;
}

.radio-label {
    position: relative;
    padding-left: 1.5rem;

    display: inline-block;
}

.radio-label::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;

    background-color: var(--bg-color);
    border-radius: 50%;
    outline: #5c5c5c 1px solid;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;
}

.radio-label::after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;

    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 50%;
    opacity: 0;

    position: absolute;
    background: none;
    left: 0;
    top: 0;

    transition: opacity 0.3s;

    z-index: 2;
}

.radio-input:checked + .radio-label::after {
    opacity: 1;
}

.checkbox-input {
    appearance: none;
    position: absolute;
}

.checkbox-label {
    position: relative;
    padding-left: 1.5rem;
}

.checkbox-label::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;

    background-color: #323232;
    outline: 1px solid #5c5c5c;
    border-radius: 5px;

    position: absolute;
    inset: 0;
    z-index: 1;
}

.checkbox-label::after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;

    color: #fff;
    background: url("../images/check.svg") no-repeat;
    background-size: 1rem 1rem;
    opacity: 0;

    transition: opacity 0.3s;

    position: absolute;
    inset: 0;
    z-index: 2;
}

.checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: green;
    outline: none;
}

.button {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    align-content: space-between;

    border-radius: 0.5rem;
    padding: 0.75rem 1rem;

    transition: transform 0.2s, filter 0.2s;
}

.button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.button.secondary-button {
    background-color: gray;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    color: #ffffff;
}

.nav-links a,
.nav-links .cart-icon {
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #2946a3;
}

.nav-links li.cart-icon-container {
    position: relative;
}

.nav-links .cart-icon {
    display: flex;
    gap: 0.5rem;

    background-color: #2946a3;

    transition: filter 0.4s;

    cursor: pointer;
}

.nav-links .cart-icon:hover {
    filter: brightness(1.1);
}

.nav-links .cart-icon span {
    background-color: red;
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    font-size: 0.8rem;
}

.cart-modal {
    position: absolute;
    top: 100%;
    right: 0;

    margin-top: 1rem;

    transform: scale(0);
    transform-origin: top;
    opacity: 0;

    width: 500px;
    height: 400px;

    transition: transform 0.3s, opacity 0.3s;

    z-index: 10;
}

.cart-modal.active {
    transform: scale(1);
    opacity: 1;
}

.modal-content {
    background-color: var(--cart-color);
    border-radius: 1rem;

    position: relative;
    padding: 2rem;

    max-height: 80vh;
}

.modal-content h2 {
    margin: 0;
    border-bottom: 1px solid #6a6a6a;
    padding-bottom: 1rem;
}

.modal-content .button {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.cart-items {
    max-height: 300px;
    overflow-y: auto;

    padding-top: 1rem;

    &::-webkit-scrollbar {
        width: 0.5vw;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
    }
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
    border-bottom: 1px solid #6a6a6a;
}

.cart-item .left-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.cart-item .right-container {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.cart-item-quantity-price {
    display: flex;
    flex-direction: row;
}

.cart-item-name {
    font-weight: bold;
}

.cart-item-price-total {
    text-align: right;
}

.cart-item-remove {
    background-color: red;

    padding: 0.2rem 0.5rem;
    margin: 0 1rem;

    border-radius: 0.5rem;

    cursor: pointer;
}

.cart-total {
    text-align: right;
    font-weight: bold;

    font-size: 1.2rem;

    /*margin: 1rem 0;*/

    padding: 1rem 0;
    border-top: 1px solid #6a6a6a;
}

.cart-close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.5rem;

    cursor: pointer;
    background-color: #a51939;
    border-radius: 0.25rem;

    transition: transform 0.2s;
}

.cart-close:hover {
    transform: scale(1.1);
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 32px;

    align-content: center;
}

.logo span {
    color: var(--accent-color);
}

main {
    background-color: var(--bg-dark-color);
}

.catalog-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
}

.filters {
    padding: 0.5rem 1rem;
    background-color: var(--card-color);
    color: white;
    height: max-content;

    margin-top: 5rem;

    border-radius: 1.5rem;
}

.filters .button {
    width: 100%;
    box-sizing: border-box;
}

.filter-group label {
    display: block;
}

.filter-group.sort {
    margin-bottom: 1rem;
}

.filter-group.vendors {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#searchQuery {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: none;

    font-size: 1.2rem;
}

#searchQuery:focus {
    outline: none;
}

#searchQuery::placeholder {
    content: 'Введите запрос';
    color: gray;
}

.sort-select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

.sort-select:focus {
    outline: none;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.products-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-heading-color);
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.product-card {
    padding: 30px;
    background-color: var(--card-color);
    color: white;
    border-radius: 1rem;
}

.product-category {
    color: #bbb;
    margin-bottom: 0.5rem;

    font-size: 0.9em;
    font-weight: 400;

    text-transform: uppercase;
}

.product-name {
    font-size: 1.2em;
}

.product-specs {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.product-price {
    color: var(--accent-color);

    font-size: 2em;
    font-weight: 900;

    padding-bottom: 1rem;
    border-bottom: 1px dashed #5c5c5c;
}

.product-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;
}

.add-to-cart {
    background-color: var(--accent-color);
    color: white;
    padding: 1rem;
    font-size: 1.05em;
    width: 100%;

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    transition: transform 0.3s, filter 0.2s;
}

.add-to-cart:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.item-count-buttons {
    display: flex;
    height: 40px;

    align-items: center;
    border: 1px solid #5c5c5c;
    border-radius: 0.5rem;
    /*overflow: clip;*/

    opacity: 0;

    transform: scaleX(0);
    transform-origin: left;

    transition: opacity 0.2s ease, transform 0.3s ease;
}

.item-count-buttons.active {
    opacity: 1;
    transform: scaleX(1);
}

.item-count-buttons button {
    background-color: #dcdcdc;

    height: 100%;
    width: 40px;

    border: none;
    cursor: pointer;
}

.item-count-buttons button:hover {

}

.item-count-buttons input {
    height: 100%;
    width: 50px;

    appearance: textfield;

    text-align: center;
    border: none;
    padding: 0;
    margin: 0;
}

.item-count-buttons input:focus {
    outline: none;
}

footer {
    padding: 50px 25px;
    text-align: center;
    background-color: var(--bg-dark-color);
}

footer p {
    color: #555555;
}