* {
    font-family: Roboto, sans-serif;
}

:root {
    --bg-color: #182443;
    --bg-dark-color: #19223D;
    --text-heading-color: #eeffff;
    --accent-color: #F84A67;
    --card-color: #062e4e;
}

body {
    margin: 0;
    background-color: var(--bg-dark-color);
}

header {
    background: var(--bg-color);
    height: 80px;
    align-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.checkbox-input {
    appearance: none;
    position: absolute;
}

.checkbox-label {
    position: relative;
    padding-left: 1.5rem;
}

.button {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;

    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;

    transition: transform 0.2s, filter 0.2s;
}

.button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.button.secondary-button {
    background-color: gray;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;

    color: #ffffff;
}

.nav-links a {
    padding: 10px 15px;
    border-radius: 5px;

    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #2946a3;
}

.nav-links .cart-icon {
    background-color: #2946a3;

    display: flex;
    gap: 0.5rem;
}

.nav-links .cart-icon span {
    background-color: red;
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    font-size: 0.8rem;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 32px;

    align-content: center;
}

.logo span {
    color: var(--accent-color);
}

main {
    background-color: var(--bg-dark-color);
    min-height: calc(100vh - 15rem);
}

.comparison-table {
    width: 100%;
    /*color: white;*/

    border-radius: 15px;
    /*border-collapse: collapse;*/

    background-color: #fff;
    overflow: hidden;
}

.comparison-table th {
    background-color: #fff;
    border: 1px #5c5c5c solid;
}

.comparison-table td {
    border: 1px #5c5c5c solid;
}

footer {
    padding: 50px 25px;
    text-align: center;
    background-color: var(--bg-dark-color);
}

footer p {
    color: #555555;
}